
#seatplan-parent {
    -webkit-perspective: 5000;
        -ms-perspective: 5000;
            perspective: 5000;
}

#seatplan {
    /*background: rgba(236, 236, 236, 0.35);
    box-shadow:0 1px 2px #aaa;
    border-radius: 3px;*/

    -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

#seatplan td{
    height: 100px;
    width: 100px;
    padding: 0px;
    border-color: transparent;
}

.chair-dragimg {
    position: absolute;
    top: 0px;
    left: 0px;
}

#seatplan td.has-chair {
    background: url('../img/chair-back.png') no-repeat center;
    background-size: contain;
    background-position: 48% -3px;
}

#seatplan td.has-chair.dragging,
#seatplan td.has-chair.dragging .chair {
    background: none;
}

#seatplan td .chair {
    width: inherit;
    height: inherit;
    background-size: contain !important;
    background-position: center;
    float: right;
    background: url('../img/chair-front.png') no-repeat center;
    position: absolute;

    -webkit-transform: translateZ(10px);
        -ms-transform: translateZ(10px);
            transform: translateZ(10px);
}

#seatplan td .student {
    width: inherit;
    height: inherit;
    background-size: contain !important;
    background-position: center;
    float: right;
    position: absolute;

    -webkit-transform: translateZ(20px);
        -ms-transform: translateZ(20px);
            transform: translateZ(20px);
}

#seatplan td .student.Male {
    background: url('../img/boy.png') no-repeat center;
}

#seatplan td .student.Female {
    background: url('../img/girl.png') no-repeat center;
}

#seatplan td .student.drag-over {
    background: none;
}

#seatplan td.hovered {
    background-color: rgba(0, 128, 0, 0.2);
    cursor: pointer;

    -webkit-transition: background-color 200ms ease-out;
        -moz-transition: background-color 200ms ease-out;
            -o-transition: background-color 200ms ease-out;
                transition: background-color 200ms ease-out;
}

#seatplan td .before {
    float: right;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    /*content: "×";*/
    color: #fff;
    text-align: center;
    vertical-align: top;
    padding-bottom: 20px;

    -webkit-transform: translateZ(80px);
        -ms-transform: translateZ(80px);
            transform: translateZ(80px);
}

.attendance-indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #555;
    border-radius: 50%;
    margin-top: 90px;
    margin-left: 65px;
    border-color: #fff !important;

    -webkit-transform: translateZ(80px);
        -ms-transform: translateZ(80px);
            transform: translateZ(80px);
}

#seatplan td .nameTag {
    float: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    cursor: pointer;
    margin-top: -15px;
    /*content: "×";*/
    color: #fff;
    text-align: center;
    vertical-align: top;

    -webkit-transform: translateZ(80px);
        -ms-transform: translateZ(80px);
            transform: translateZ(80px);
}

#seatplan td.drag-over {
    background-color: rgba(0, 0, 255, 0.2);

    -webkit-transition: background-color 200ms ease-out;
        -moz-transition: background-color 200ms ease-out;
            -o-transition: background-color 200ms ease-out;
                transition: background-color 200ms ease-out;
}

#seatplan td.drag-over.no-drag {
    background-color: rgba(255, 0, 0, 0.2);
}

[draggable="true"] {
    cursor: move;
}

div#selectator_select1 {
    width: 100% !important;
    height: 40px;
}

.add-student-close,
.add-student-action,
.add-chair-action {
    width: 100%;
}

#view-student .modal-title {
    margin-right: 20px;
    padding-top: 5px;
}

#view-student .action-attendance button {
    width: 95%;
    height: 95%;
    border-radius: inherit;
    font-size: 2.5em;
    margin-top: 2.5%;
    outline: none;
}

#view-student .action-attendance .btn-holder {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px transparent;
}

#view-student .action-attendance .btn-holder.current {
    border-color: #333;
}


.btn.btn-primary.btn-file {
    width: 132px;
}

.thumb-info-title {
    background: rgba(36, 27, 28, 0.5) !important;
}

.formdetails input[type="text"],
.formdetails label {
    text-transform: uppercase;
}
.formdetails input[name="email"] {
    text-transform: lowercase;
}

.test 
{
}