#seatplan td{
    height: 100px;
    width: 100px;
    padding: 0px;
    border-color: transparent;
    -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
            -o-transition: all 200ms ease-out;
                transition: all 200ms ease-out;
}

#seatplan td:not(.no-drag) {
    background: url('../img/chair.png') no-repeat;
    background-size: contain;
    background-position: center;
}

#seatplan td .student {
    width: inherit;
    height: inherit;
    background-size: contain !important;
    background-position: center;
    float: right;
    margin-right: -23px;
}

#seatplan td .student.Male {
    background: url('../img/boy.png') no-repeat;
}

#seatplan td .student.Female {
    background: url('../img/girl.png') no-repeat;
}

#seatplan td.hovered {
    background-color: rgba(0, 128, 0, 0.2);
    cursor: pointer;
}

#seatplan td.drag-over {
    background-color: rgba(0, 0, 255, 0.2);
}

#seatplan td.drag-over.no-drag {
    background-color: rgba(255, 0, 0, 0.2);
}

[draggable="true"] {
    cursor: move;
}