#seatplan-parent {
    -webkit-perspective: 5000;
        -ms-perspective: 5000;
            perspective: 5000;
}

#seatplan {
    /*background: rgba(236, 236, 236, 0.35);
    box-shadow:0 1px 2px #aaa;
    border-radius: 3px;*/

    -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

#seatplan td{
    height: 100px;
    width: 100px;
    padding: 0px;
    border-color: transparent;
    -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
            -o-transition: all 200ms ease-out;
                transition: all 200ms ease-out;
}

#seatplan td:not(.no-drag) {
    /*background: url('../img/chair.png') no-repeat;
    background-size: contain;
    background-position: center;*/
}

#seatplan td .chair {
    width: inherit;
    height: inherit;
    background-size: contain !important;
    background-position: center;
    float: right;
    background: url('../img/chair.png') no-repeat center;
    position: absolute;

    -webkit-transform: translateZ(20px);
        -ms-transform: translateZ(20px);
            transform: translateZ(20px);
}

#seatplan td .student {
    width: inherit;
    height: inherit;
    background-size: contain !important;
    background-position: center;
    float: right;
    position: absolute;

    -webkit-transform: translateZ(30px);
        -ms-transform: translateZ(30px);
            transform: translateZ(30px);
}

#seatplan td .student.Male {
    background: url('../img/boy.png') no-repeat center;
}

#seatplan td .student.Female {
    background: url('../img/girl.png') no-repeat center;
}

#seatplan td .student.drag-over {
    background: none;
}

#seatplan td.hovered {
    background-color: rgba(0, 128, 0, 0.2);
    cursor: pointer;
}

#seatplan td.drag-over {
    background-color: rgba(0, 0, 255, 0.2);
}

#seatplan td.drag-over.no-drag {
    background-color: rgba(255, 0, 0, 0.2);
}

[draggable="true"] {
    cursor: move;
}

div#selectator_select1 {
    width: 100% !important;
    height: 40px;
}

.add-student-close,
.add-student-action,
.add-chair-action {
    width: 100%;
}